<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sorted Data for {{ country_name }}</title>
</head>
<body>
<h1>Sorted Data for {{ country_name }}</h1>
<ul class="order">
    <li><a href="?order=asc">Order by {{ sort_key }} ascending</a></li>
    <li><a href="?order=desc">Order by {{ sort_key }} descending</a></li>
</ul>
<ul class="sort_by">
    {% for key in sort_by_list %}
    <li>
        <a href="?sort_key={{ key }}">{{ key }}</a>
    </li>
    {% endfor %}
</ul>
<div class="grid-container">
    {% for item in sorted_json_objects %}
    <div class="grid-item">
        <h3>{{ item.title }}:</h3>
        <p><strong>City:</strong> {{ item.city }}</p>
        {% for image in item.get('images', [])[:1] %}
        {% if image.external_link %}
        <li>
            <img src="{{ image.external_link }}" alt="Image {{ loop.index }}" height="300">
        </li>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>

{% if total_pages > 1 %}
<div>
    <ul class="pagination">
        {% for page_num in range(1, total_pages + 1) %}
        <li {% if page_num== current_page %}class="active" {% endif %}>
            <a href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
</body>
</html>
